*{
    margin: 0;
}

body{
    
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#121f3d;
}


.logo{
    width: 200px;
    height: 70px;
    margin-top: 15px;
}


nav{
    /* margin-bottom: 0.5%; */
     
     height: 70px;
     align-items: center;
     display: flex;
     justify-content: space-around;
     background-color: rgb(31, 25, 40);
     /* box-shadow: 5px 5px 5px;     */
}


.enlaces-menu{
    display: flex; 
}


.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}


.enlaces-menu li a{
    
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 255, 242);
}


.enlaces-menu li:hover{
    background-color:#00c1c1cb;
}

.header{
    margin-bottom: 50px;
    /* width:1920px; */
     height: 120px;
     display: flex;
     align-items: center;
     justify-content: space-around;
    background:#192e5d;
     box-shadow: 5px 5px 5px;   
}

.header h1{
    color: rgb(252, 252, 252);
    font-size: 24px;

}


.main{
    width: 85%;
    margin:auto;
    /* height: calc(100vh - 80px); */
    background: #121f3d; 
    display:flex;  
}


.aside{
    /* background:#141532; */
    width: 30%;
    /* height: 780px; */
    /* padding: 1.5%;  */
    /* box-shadow: 5px 5px 5px;   */
    
    display: flex;
    flex-direction:column;
    
    border-top: 1px solid chartreuse;
}


.section{
    
    width:70%;
    display: flex;
    /* justify-content: space-between ; */
   
    /* box-shadow: 5px 5px 5px;  */
    /* background:#192e5d;
    height: 780px;   */
}

.form{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-around; */
    flex-flow: row wrap;
}

div{
    padding: 20px;
    width: 220px;
    margin: 1px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    /* justify-content: space-between; */
    /* flex-flow: row wrap; */
}
/* .footer{
    height: 80px;
     align-items: center;
     display: flex;
     justify-content: space-around;
     background-color: rgb(31, 25, 40);
} */


hr{
    border: 1px solid rgba(128, 255, 0, 0.356);

}


form{
    font-size: 16px;
    color: #d1cfcf5e;

}

textarea{
    /* width: 30%; */
    font-family: 'Roboto Condensed', sans-serif;
    resize: none;
    border-color: #00eaff;
    /* border-radius: 5px; */
    outline: none;
    background:  rgba(5, 5, 5, 0.1); 
    font-size: 14px;
    color: rgba(255, 255, 255, 0.571);   
}


input{
    /* background:  rgba(74, 150, 236, 0.411);  */

    color: #e8e8e8b3;
    /* display: block; */
    border-color: #00eaff;

    /* border: none; */
    background:  rgba(5, 5, 5, 0.1); 

    /* border-bottom: 1px solid; */
    /* margin:left; */
    height: 30px;
    font-size: 16px;
    /* border-bottom:1px solid #00eaff; */
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 1px; */
}

input:focus{
    outline: none;
    background:  rgba(5, 5, 5, 0.1); 

    /* background: none; */
}



select{
    border: none;
    outline: none;
    color: #151515;
    display: block;
    height: 30px;
    font-size: 16px;


}



#imagen{
    
    display: none;
}