*{
    margin: 0;
}

body{
    
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#121f3d;
}

section{
    width:1080px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 200px;
   

}


div{
    /* border: 1px solid salmon; */
    display: flex;
    /* flex-flow: row wrap; */
    /* background: #cccccc; */
}
.datos{
    background: rgb(255, 255, 255);
    flex-direction:column;
    font-size: 12px;
}
.main{
    width: 85%;
    margin:auto;
    background: #121f3d; 
    display:flex; 
    
}

/* (1)---------------barra_navegacion------------------------------------- */

.logo{
    width: 200px;
    height: 70px;
    margin-top: 15px;
}


nav{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(31, 25, 40);
    position: fixed;
    width: 100%;
}


.enlaces-menu{
    display: flex; 
}


.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}


.enlaces-menu li a{
    
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 255, 242);
}


.enlaces-menu li:hover{
    background-color:#00c1c1cb;
}
/* ----------------------------------------------------------------- */





/* (2)----------------------header------------------------ */
.header{
    margin-bottom: 1%;
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:#192e5d;
    box-shadow: 5px 5px 5px;   
    position: fixed;
    margin-top: 85px;
}


#ico_flecha_regresar{
    color: rgb(252, 252, 252);
    font-size: 18px;
}

.header h1{
    color: rgb(252, 252, 252);
    font-size: 18px;
}

#ico_cotizacion{
    
    font-size: 16px;
}



#btn_cotizacion{
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    width: 80px;
}


/* -------------------------------------------------------------- */





/* (3)----------------------------tarjetas---------------------------------- */

.cards{
    padding: 10px;
    flex-direction:column;
    background: rgb(255, 255, 255);
    width:230px;
    height: 360px;
    margin: 10px;
    box-shadow: 5px 5px 5px;   
    border-radius: 5px;
}
#nuevo{
    align-items: center;
    justify-content: center;
}

#btnver{
    display: flex;
    border: none;
    background: rgb(61, 200, 243);
    height: 30px;
    width: 90px;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
.cards a{
    display: flex;
}
.botones{
    background: rgb(255, 255, 255);
    justify-content: space-between ;
    
}
/* -------------------------------------------------------------- */



/* (4)-----------------detalle de producto--------------------------------------------- */

.tarjeta_producto{
    /* width: 500px; */
    /* padding: 20px; */
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    /* background: rgb(255, 255, 255); */
    /* box-shadow: 5px 5px 5px;   
    border-radius: 5px; */
    margin: auto;
    
    
}

#div_img_tarjeta_producto{
    width: 300px;
    height: 400px;
    background: rgb(255, 255, 255);

}

#div_datos_tarjeta_producto{
    width: 280px;
    height: 380px;
    padding: 10px;
    justify-content: space-between;
}

.contenedor_btn{
    justify-content: space-between;

}

.ver_producto{
    display: flex;
    flex-flow: row wrap;
}
/* -------------------------------------------------------------- */




/* (5)--------------------formulario------------------------------------------ */


form{
    font-size: 16px;
    color: #d1cfcf5e;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

textarea{
    /* width: 30%; */
    font-family: 'Roboto Condensed', sans-serif;
    resize: none;
    border-color: #00eaff;
    /* border-radius: 5px; */
    outline: none;
    background:  rgba(5, 5, 5, 0.1); 
    font-size: 14px;
    color: rgba(255, 255, 255, 0.571);   
}


input{
    
    color: #e8e8e8b3;
    border-color: #00eaff;
    background:  rgba(5, 5, 5, 0.1); 
    height: 30px;
    font-size: 16px;
   
}

input:focus{
    outline: none;
    background:  rgba(5, 5, 5, 0.1); 

   
}



select{
    border: none;
    outline: none;
    color: #151515;
    display: block;
    height: 30px;
    font-size: 16px;
}

#imagen{
    
    display: none;
}
.div_form{
    flex-direction: column;
    margin: 20px;
}


/* -----------------iconos--------------------------------------------- */




.fa-solid{
    font-size: 12px;
}




/* (6)--------------------IDs secciones---------------------------- */

#area_detalle_producto{
    display: none;
}

#area_formulario{
    display: none;
}


/* ---------------------------------------------------------------- */



/* (7)----------Tabla-cotizacion------------ */

#area_cotizacion{
    display: none;
    /* margin: auto; */
    flex-direction: column;

    
}


table,th,td{
    color: aliceblue;
    border:solid 1px silver;
    border-collapse: collapse;
    padding: 10px;
    font-size: 12px;
    margin: auto;

}

#total_cotizacion{

    color: aliceblue;
}

/* ---------------------------------------------------------------- */



/* ---------------footer------------------------------------------ */

footer{
    text-align: center;
    color: #525252;
}



/* ---------------------------------------------------------------- */
